@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";

@theme {
    --font-inter: 'Inter', sans-serif;
    --font-merriweather: 'Merriweather', serif;
    
    --color-batik-50: #FFFBFB;
    --color-batik-100: #F8F4F4;
    --color-batik-200: #F1EAEA;
    --color-batik-300: #D8E0D8;
    --color-batik-400: #4DAB5B;
    --color-batik-500: #40904C;
    --color-batik-600: #35783E;
    --color-batik-700: #2A6132;
    --color-batik-800: #4F4E5A;
    --color-batik-900: #3F3E47;
    --color-batik-950: #3F3E47;
}

body {
    background-color: var(--color-batik-50);
    color: var(--color-batik-950);
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-batik-200);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-batik-300);
}

::selection {
    background: var(--color-batik-100);
    color: var(--color-batik-900);
}